.welcome {
  background-color: var(--bg-primary);
  height: 100vh;
}

.welcome .container {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.welcome img {
  height: 25px;
  margin-left: var(--spacing-medium);
  position: relative;
  top: 6px;
}

.welcome h1 {
  color: var(--text-light);
}

.welcome p {
  color: var(--text-light);
  font-size: var(--fs-large);
  margin-bottom: var(--spacing-medium);
}

.welcome .decoration {
  color: var(--text-secondary);
}

.welcome a {
  text-transform: uppercase;
  color: var(--text-light);
  background-color: rgb(43, 182, 134);
  padding: var(--spacing-medium);
  border-radius: 4px;
  border: 2px solid rgb(43, 182, 134);
  width: 260px;
  font-size: var(--fs-medium);
  text-align: center;
}

.welcome a:hover {
  background-color: transparent;
}

/* courses section */

.courses h2 {
  margin: var(--spacing-xl) 0;

  text-align: center;
}

.courses .container {
  max-width: 1200px;
  margin: 0 auto;
}

.courses .grid-element-content {
  border: 1px solid grey;
  padding: 4px;
  height: 100%;
}

.courses .material-symbols-outlined {
  font-size: 14px;
  line-height: 14px;
  vertical-align: middle;
  margin-right: 4px;
}

.courses .decoration {
  height: 4px;
  background-color: var(--button-color);
  border-radius: 4px;
}

/* about us section */

.about-us-section {
  background-color: var(--bg-secondary);
}

.about-us-section h2 {
  text-align: center;
}

.about-us-section img {
  width: 100%;
}

.partners h2 {
  text-align: center;
}

.partners img {
  width: 100px;
  filter: grayscale(100%);
  margin-right: 50px;
  margin-left: 50px;
}

.partners img:hover {
  filter: none;
}

.partners .image-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
